.contents
  .form__body
    = form_with model: @post ,local: true do |f|
      %h2
        投稿する
      .form__image
        .form__image__icon
          %label
            = icon('fas', 'camera')
            .input__image
              = f.fields_for :images do |i|
                = i.file_field :src
      %label 画像名
      .form__name
        = f.text_field :name
      .buttons
        = f.submit "投稿する",class:"buttons__send"
        =link_to root_path do
          .buttons__back もどる