.wrapper
  = render partial: 'shared/header'
  .new-post-button
    = link_to "投稿する",new_post_path
  .body
    .posts
      .post
        .image_box
          - @posts.each do |post|
            .post_image
              = image_tag post.images.first.src.url
            .name
              = post.name.to_s
            .item-button-container
              .item-button-container__left
                = render partial: "likes/like",locals:{post: post}